titanic datasını okuyunuz(<b>train.csv</b>). Ödevin geri kalanında dataframe gösterimlerini <b>display()</b> fonksiyonunu kullanarak yapınız.<br> Örn: display(titanic_df)

In [2]:
import pandas as pd
import numpy as np

In [142]:
titanic=pd.read_csv("train.csv")
display(titanic)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Soru 1:

Kazada ölenlerin yaş ortalamasını bulunuz

In [14]:
dead=titanic.Survived==0 #Kazada ölenler bulunuyor (True olan ifadeler ölümü göstermektedir)
dead_age_mean=titanic[dead==True].Age.mean()  #Kazada ölenlerin yaş ortalaması bulunuyor
print(f"Kazada ölenlerin yaşalarının ortalama değeri = {dead_age_mean}")

Kazada ölenlerin yaşalarının ortalama değeri = 30.62617924528302

Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [17]:
dead_fare_mean=titanic[dead==True].Fare.mean()  #Kazada ölenlerin bilet fiyatlarının ortalaması bulunuyor
dead_fare_median=titanic[dead==True].Fare.median() #Kazada ölenlerin bilet fiyatlarının medyanı bulunuyor
print(f"Kazada ölenlerin bilet fiyatları ortalama değeri = {dead_fare_mean}")
print(f"Kazada ölenlerin bilet fiyatları medyan değeri = {dead_fare_median}")

Kazada ölenlerin bilet fiyatları ortalama değeri = 22.117886885245877
Kazada ölenlerin bilet fiyatları medyan değeri = 10.5

Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [136]:
display(men)

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Sex, Length: 891, dtype: bool

In [18]:
men=titanic.Sex=='male' # True ==> erkek , False ==> kadın
dead_men_mean=titanic[(men==True) & (dead==True)].Age.mean()
print(f"Kazada ölen erkeklerin yaşlarının ortalama değeri = {dead_men_mean}")

Kazada ölen erkeklerin yaşlarının ortalama değeri = 31.618055555555557

Kazada ölen Kadınların yaş ortalamasını bulunuz

In [19]:
dead_women_mean=titanic[(men==False) & (dead==True)].Age.mean()
print(f"Kazada ölen kadınların yaşlarının ortalama değeri = {dead_women_mean}")

Kazada ölen kadınların yaşlarının ortalama değeri = 25.046875

# Soru 2:

Kazadan kurtulanların yaş ortalamasını bulunuz

In [20]:
live_age_mean=titanic[dead==False].Age.mean()
print(f"Kazada kurtulan yolcuların yaşlarının ortalama değeri = {live_age_mean}")

Kazada kurtulan yolcuların yaşlarının ortalama değeri = 28.343689655172415

Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [21]:
live_fare_mean=titanic[dead==False].Fare.mean()
print(f"Kazada kurtulan yolcuların bilet fiyatlarının ortalama değeri = {live_fare_mean}")

Kazada kurtulan yolcuların bilet fiyatlarının ortalama değeri = 48.39540760233917

Kazadan kurtulan toplam kişi sayısını bulunuz

In [22]:
live=titanic[dead==False]
print(f"Kazada kurtulan toplam kişi sayısı = {len(live)}")

Kazada kurtulan toplam kişi sayısı = 342

Kazadan kurtulan erkeklerin yaş ortalamasını bulunuz

In [135]:
#dead değişkeninde False==>  yaşayanlara karşılık gelmektedir
live_men_age_mean=titanic[(dead==False)&(men==True)].Age.mean() 
print(f"Kazada kurtulan erkeklerin yaş ortalaması = {live_men_age_mean}")

Kazada kurtulan erkeklerin yaş ortalaması = 27.276021505376345

Kazadan kurtulan kadınların yaş ortalamasını bulunuz

In [25]:
live_women_age_mean=titanic[(dead==False)&(men==False)].Age.mean() 
print(f"Kazada kurtulan erkeklerin yaş ortalaması = {live_women_age_mean}")

Kazada kurtulan erkeklerin yaş ortalaması = 28.84771573604061

# Soru 3:

10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [27]:
under_10=titanic[titanic.Age<10]
under_10_fare_median=under_10.Fare.median()
print(f"10 yaşından küçüklerin bilet fiyatlarının medyanı = {under_10_fare_median}")

10 yaşından küçüklerin bilet fiyatlarının medyanı = 27.0

10 yaşından büyüklerin bilet fiyatlarının medyan değerini bulunuz

In [29]:
older_10=titanic[titanic.Age>10]
older_10_fare_median=older_10.Fare.median()
print(f"10 yaşından büyüklerin bilet fiyatlarının medyanı = {older_10_fare_median}")

10 yaşından büyüklerin bilet fiyatlarının medyanı = 13.92915

# Soru 5:

1.sınıf, 2.sınıf ve 3.sınıf yolcuların ölüm oranlarını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [41]:
first_class=titanic[(titanic.Pclass==1)].shape[0]
first_class_dead=titanic[(titanic.Pclass==1) & (titanic.Survived==0)].shape[0]
first_class_rate=first_class_dead/first_class# first class ölüm oranı

second_class=titanic[(titanic.Pclass==2)].shape[0]
second_class_dead=titanic[(titanic.Pclass==2) & (titanic.Survived==0)].shape[0]
second_class_rate=second_class_dead/second_class# second class ölüm oranı

third_class=titanic[(titanic.Pclass==3)].shape[0]
third_class_dead=titanic[(titanic.Pclass==3) & (titanic.Survived==0)].shape[0]
third_class_rate=third_class_dead/third_class# third class ölüm oranı
print(f"Birinci sınıf ölüm oranı= {first_class_rate}")
print(f"İkinci sınıf ölüm oranı= {second_class_rate}")
print(f"Üçüncü sınıf ölüm oranı= {third_class_rate}")

print("Sınıf derecesi sayısal olarak yükseldikçe ölüm oranı yükselmektedir.")

Birinci sınıf ölüm oranı= 0.37037037037037035
İkinci sınıf ölüm oranı= 0.5271739130434783
Üçüncü sınıf ölüm oranı= 0.7576374745417516
Sınıf derecesi sayısal olarak yükseldikçe ölüm oranı yükselmektedir.

1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarını karşılaştırınız

In [34]:
f"Birinci Sınıf için medyan: {titanic[(titanic.Pclass==1)].Fare.median()}, İkinci Sınıf için medyan: {titanic[(titanic.Pclass==2)].Fare.median()}, Üçüncü Sınıf için medyan:{titanic[(titanic.Pclass==3)].Fare.median()}"

'Birinci Sınıf için, medyan: 60.287499999999994, İkinci Sınıf için medyan: 14.25, Üçüncü Sınıf için medyan:8.05'

In [39]:
f"Birinci Sınıf için ortalama: {titanic[(titanic.Pclass==1)].Fare.mean()}, İkinci Sınıf için ortalama: {titanic[(titanic.Pclass==2)].Fare.mean()}, Üçüncü Sınıf için ortalama:{titanic[(titanic.Pclass==3)].Fare.mean()}"

'Birinci Sınıf için ortalama: 84.15468749999992, İkinci Sınıf için ortalama: 20.66218315217391, Üçüncü Sınıf için ortalama:13.675550101832997'

In [36]:
f"Birinci Sınıf için mod: {titanic[(titanic.Pclass==1)].Fare.mode()}, İkinci Sınıf için mod: {titanic[(titanic.Pclass==2)].Fare.mode()}, Üçüncü Sınıf için mod:{titanic[(titanic.Pclass==3)].Fare.mode()}"

'Birinci Sınıf için mod: 0    26.55\ndtype: float64, İkinci Sınıf için mod: 0    13.0\ndtype: float64, Üçüncü Sınıf için mod:0    8.05\ndtype: float64'

# Soru 6:

Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [42]:
dead_men=titanic[(dead==True)&(men==True)]#kazada ölen erkek
dead_women=titanic[(dead==True)&(men==False)]#kazada ölen kadın
dead_top=titanic[dead==True]
dead_women_rate=dead_women.shape[0]/dead_top.shape[0]
dead_men_rate=dead_men.shape[0]/dead_top.shape[0]
print(f"Kazada ölen kadınların oranı= {dead_women_rate}")
print(f"Kazada ölen erkeklerin oranı= {dead_men_rate}")

print("Kazada erkek yolcular, kadın yolculara göre daha çok sayıda ölmüştür. ")

Kazada ölen kadınların oranı= 0.14754098360655737
Kazada ölen erkeklerin oranı= 0.8524590163934426
Kazada erkek yolcular, kadın yolculara göre daha çok sayıda ölmüştür.

# Soru 7:

Kazada ölen erkeklerin ortalama bilet fiyatı ile kurtulan erkeklerin ortalama bilet fiyatını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [43]:
dead_men_fare_mean=titanic[(dead==True)&(men==True)].Fare.mean()
live_men_fare_mean=titanic[(dead==False)&(men==True)].Fare.mean()
print(f"Kazada ölen erkeklerin bilet fiyatlarının ortalama değeri= {dead_men_fare_mean}")
print(f"Kazadan kurtulan erkeklerin bilet fiyatlarının ortalama değeri= {live_men_fare_mean}")
print("Daha yüksek ücrete bilet alan erkek yolcuların kurtulma ihtimali daha yüksek olabilir. ")

Kazada ölen erkeklerin bilet fiyatlarının ortalama değeri= 21.960992948717944
Kazadan kurtulan erkeklerin bilet fiyatlarının ortalama değeri= 40.82148440366974
Daha yüksek ücrete bilet alan erkek yolcuların kurtulma ihtimali daha yüksek olabilir.

# Missing Value Doldurma

Bundan sonraki soruları <b>train_missing.csv</b> datasını kullanarak cevaplayınız.

In [6]:
titanic_missing=pd.read_csv("train_missing.csv")
display(titanic_missing)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0.0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0.0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2,W./C. 6607,NaN,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0.0,0,111369,30.0000,C148,NaN
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q

# Soru 8

Age, Embarked ve Fare değişkenlerini mean/median/mode değerlerini kullanarak değişken tipine uygun olacak şekilde doldurunuz.

In [44]:
# Age ortalama ve median ile dolduruluyor
titanic_8_mean=titanic_missing.copy()
titanic_8_mean.Age=titanic_8_mean.Age.fillna(titanic_8_mean.Age.mean()) #ortalama ile nanlar dolduruluyor
print(titanic_8_mean.Age.mean(),titanic_missing.Age.mean())

titanic_8_median=titanic_missing.copy()
titanic_8_median.Age=titanic_8_median.Age.fillna(titanic_8_median.Age.median()) #ortalama ile nanlar dolduruluyor
print(titanic_8_median.Age.median(),titanic_missing.Age.median())

29.699117647058763 29.69911764705882
28.0 28.0

In [45]:
# Fare ortalama ve median ile dolduruluyor
titanic_8_mean=titanic_missing.copy()
titanic_8_median=titanic_missing.copy()
titanic_8_mean.Fare=titanic_8_mean.Fare.fillna(titanic_8_mean.Fare.mean()) #ortalama ile nanlar dolduruluyor
print(titanic_8_mean.Fare.mean(),titanic_missing.Fare.mean())
titanic_8_median.Fare=titanic_8_median.Fare.fillna(titanic_8_median.Fare.median()) #ortalama ile nanlar dolduruluyor
print(titanic_8_median.Fare.median(),titanic_missing.Fare.median())

31.84482187499989 31.844821874999965
14.45625 14.45625

In [46]:

titanic_8_mode=titanic_missing.copy()
titanic_8_mode.Embarked=titanic_8_mode.Embarked.fillna(titanic_8_mode.Embarked.mode()[0]) #ortalama ile nanlar dolduruluyor
print(titanic_8_mode.Embarked.mode(),titanic_missing.Embarked.mode())

0    S
dtype: object 0    S
dtype: object

0

# Soru 9

SibSp değişkeni hangi yöntemler ile doldurulabilir, fikir yürütün. Uygun bir yöntem ile doldurun. (SibSp değişkeni kişilerin gemide bulunan kardeş/eş sayısını belirtiyor.)

In [71]:
titanic_9=titanic_missing.copy()

In [75]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
titanic_9_with_null = titanic_missing[["Pclass", "SibSp","Parch"]]
titanic_9_without_null = titanic_9_with_null.dropna()

In [76]:
X = titanic_9_without_null.iloc[:,[0,2]] # Pclass Parch alındı

In [77]:
Y = titanic_9_without_null.iloc[:,1]  # SibSp alındı

In [78]:
lin_reg.fit(X,Y)#model yapıldı

LinearRegression()

In [79]:
test_X =  titanic_9_with_null.iloc[:,[0,2]]

In [80]:
lin_reg.predict(test_X)

array([0.38468848, 0.15780506, 0.38468848, 0.15780506, 0.38468848,
       0.38468848, 0.15780506, 0.95650939, 1.52833029, 0.27124677,
       0.95650939, 0.15780506, 0.38468848, 3.243793  , 0.38468848,
       0.27124677, 0.95650939, 0.27124677, 0.38468848, 0.38468848,
       0.27124677, 0.27124677, 0.38468848, 0.15780506, 0.95650939,
       3.243793  , 0.38468848, 1.30144687, 0.38468848, 0.38468848,
       0.15780506, 0.15780506, 0.38468848, 0.27124677, 0.15780506,
       0.15780506, 0.38468848, 0.38468848, 0.38468848, 0.38468848,
       0.38468848, 0.27124677, 0.38468848, 1.41488858, 0.38468848,
       0.38468848, 0.38468848, 0.38468848, 0.38468848, 0.38468848,
       0.95650939, 0.38468848, 0.15780506, 0.27124677, 0.72962597,
       0.15780506, 0.27124677, 0.38468848, 1.41488858, 1.52833029,
       0.38468848, 0.15780506, 0.15780506, 1.52833029, 0.15780506,
       0.95650939, 0.27124677, 0.38468848, 1.52833029, 0.38468848,
       0.27124677, 1.52833029, 0.27124677, 0.38468848, 0.38468848,
       0.38468848, 0.38468848, 0.38468848, 1.41488858, 0.38468848,
       0.38468848, 0.38468848, 0.38468848, 0.15780506, 0.27124677,
       0.38468848, 2.10015119, 0.38468848, 1.30144687, 0.38468848,
       0.38468848, 0.38468848, 0.15780506, 1.52833029, 0.38468848,
       0.38468848, 0.15780506, 0.72962597, 0.84306768, 0.27124677,
       0.38468848, 0.38468848, 0.72962597, 0.38468848, 0.38468848,
       0.38468848, 0.38468848, 0.38468848, 0.38468848, 0.38468848,
       0.15780506, 0.38468848, 0.38468848, 0.38468848, 0.38468848,
       0.38468848, 0.38468848, 0.27124677, 0.72962597, 1.52833029,
       0.27124677, 0.38468848, 0.27124677, 0.27124677, 0.72962597,
       0.38468848, 0.38468848, 0.38468848, 0.95650939, 0.38468848,
       0.38468848, 0.38468848, 0.38468848, 0.27124677, 0.27124677,
       0.27124677, 1.30144687, 0.15780506, 0.38468848, 0.15780506,
       1.52833029, 0.38468848, 0.38468848, 0.38468848, 0.27124677,
       0.84306768, 0.38468848, 1.52833029, 1.41488858, 0.27124677,
       0.27124677, 0.15780506, 0.38468848, 1.52833029, 0.38468848,
       0.72962597, 0.38468848, 0.38468848, 0.38468848, 1.52833029,
       0.95650939, 0.27124677, 0.38468848, 0.38468848, 0.95650939,
       1.52833029, 0.72962597, 2.6719721 , 0.15780506, 0.38468848,
       0.15780506, 0.95650939, 0.95650939, 0.38468848, 0.15780506,
       0.95650939, 0.95650939, 0.15780506, 0.27124677, 0.38468848,
       1.52833029, 0.27124677, 1.52833029, 0.84306768, 1.52833029,
       0.15780506, 0.38468848, 0.15780506, 0.95650939, 0.38468848,
       0.27124677, 0.27124677, 0.38468848, 0.84306768, 0.15780506,
       0.15780506, 0.38468848, 0.95650939, 0.38468848, 0.27124677,
       0.38468848, 1.52833029, 0.38468848, 0.38468848, 0.38468848,
       0.95650939, 0.38468848, 0.38468848, 0.38468848, 0.15780506,
       0.38468848, 0.27124677, 0.38468848, 0.27124677, 0.38468848,
       0.15780506, 0.38468848, 0.27124677, 0.15780506, 0.27124677,
       0.38468848, 0.27124677, 0.38468848, 0.38468848, 0.15780506,
       0.38468848, 0.27124677, 0.38468848, 0.27124677, 0.95650939,
       0.15780506, 0.38468848, 0.27124677, 1.52833029, 0.27124677,
       0.38468848, 0.27124677, 1.41488858, 0.27124677, 0.27124677,
       0.38468848, 0.38468848, 0.27124677, 0.38468848, 0.38468848,
       0.15780506, 0.38468848, 1.41488858, 0.72962597, 0.27124677,
       0.38468848, 0.95650939, 0.15780506, 0.38468848, 1.52833029,
       1.52833029, 0.15780506, 0.15780506, 0.15780506, 0.84306768,
       0.38468848, 1.52833029, 0.72962597, 0.15780506, 0.38468848,
       0.27124677, 0.95650939, 0.38468848, 0.72962597, 0.15780506,
       0.15780506, 0.38468848, 0.84306768, 0.72962597, 0.38468848,
       0.15780506, 0.38468848, 0.27124677, 0.95650939, 0.95650939,
       0.38468848, 0.38468848, 0.38468848, 0.38468848, 0.15780506,
       0.38468848, 0.38468848, 0.38468848, 0.27124677, 0.38468848,
       0.15780506, 0.15780506, 0.27124677, 0.38468848, 0.38468848,
       0.15780506, 0.38468848, 1.30144687, 0.15780506, 0.72962597,
       0.38468848, 0.38468848, 0.38468848, 0.27124677, 0.38468848,
       1.30144687, 0.15780506, 0.15780506, 0.27124677, 0.15780506,
       0.15780506, 1.30144687, 0.84306768, 0.38468848, 0.84306768,
       0.38468848, 0.27124677, 0.27124677, 1.30144687, 0.72962597,
       0.38468848, 0.38468848, 0.27124677, 0.84306768, 1.52833029,
       0.15780506, 0.38468848, 0.27124677, 0.95650939, 0.72962597,
       0.38468848, 0.15780506, 0.72962597, 0.38468848, 0.15780506,
       0.38468848, 0.15780506, 0.15780506, 0.38468848, 0.15780506,
       0.84306768, 1.30144687, 0.27124677, 0.27124677, 0.27124677,
       0.27124677, 0.27124677, 0.38468848, 0.95650939, 0.38468848,
       0.38468848, 0.15780506, 0.95650939, 0.38468848, 0.38468848,
       0.38468848, 0.72962597, 0.27124677, 0.38468848, 0.38468848,
       2.6719721 , 0.27124677, 0.95650939, 0.38468848, 0.38468848,
       0.38468848, 0.15780506, 0.38468848, 0.38468848, 0.15780506,
       0.15780506, 0.38468848, 0.38468848, 0.15780506, 0.95650939,
       0.15780506, 0.38468848, 1.30144687, 0.38468848, 0.38468848,
       0.15780506, 1.52833029, 0.38468848, 0.15780506, 0.38468848,
       0.27124677, 1.52833029, 0.27124677, 0.38468848, 0.27124677,
       1.30144687, 0.38468848, 0.38468848, 0.15780506, 1.52833029,
       0.38468848, 0.38468848, 0.27124677, 0.27124677, 0.27124677,
       0.38468848, 0.38468848, 0.38468848, 0.38468848, 0.38468848,
       0.27124677, 0.38468848, 0.84306768, 0.38468848, 0.95650939,
       0.38468848, 0.38468848, 0.15780506, 0.27124677, 0.38468848,
       0.38468848, 0.84306768, 1.41488858, 0.27124677, 1.52833029,
       0.38468848, 0.38468848, 0.38468848, 0.95650939, 0.95650939,
       0.38468848, 0.27124677, 0.27124677, 0.38468848, 0.38468848,
       0.15780506, 0.38468848, 0.27124677, 0.38468848, 0.15780506,
       1.30144687, 1.52833029, 1.98670948, 2.44508868, 0.27124677,
       0.84306768, 0.38468848, 0.38468848, 0.27124677, 0.38468848,
       1.30144687, 0.84306768, 0.15780506, 0.95650939, 0.15780506,
       1.41488858, 0.38468848, 0.15780506, 0.15780506, 0.38468848,
       0.38468848, 0.15780506, 0.15780506, 0.27124677, 0.38468848,
       0.15780506, 0.38468848, 0.15780506, 0.27124677, 0.38468848,
       0.38468848, 0.27124677, 0.15780506, 0.38468848, 0.95650939,
       0.38468848, 0.38468848, 1.41488858, 0.27124677, 0.38468848,
       0.15780506, 0.27124677, 0.38468848, 0.38468848, 0.95650939,
       1.52833029, 0.27124677, 0.38468848, 0.38468848, 0.15780506,
       0.95650939, 0.15780506, 0.15780506, 0.38468848, 0.95650939,
       0.38468848, 0.38468848, 0.15780506, 0.15780506, 0.38468848,
       0.38468848, 0.15780506, 0.38468848, 1.30144687, 0.38468848,
       0.38468848, 0.38468848, 0.38468848, 0.38468848, 0.15780506,
       0.15780506, 1.41488858, 0.15780506, 0.38468848, 0.38468848,
       0.38468848, 0.38468848, 0.15780506, 0.15780506, 0.38468848,
       0.15780506, 0.27124677, 0.38468848, 0.27124677, 0.38468848,
       0.15780506, 0.38468848, 0.38468848, 0.72962597, 0.38468848,
       0.38468848, 0.27124677, 0.15780506, 0.38468848, 0.84306768,
       0.84306768, 0.38468848, 0.95650939, 1.52833029, 0.38468848,
       1.41488858, 0.15780506, 0.15780506, 0.38468848, 1.30144687,
       1.30144687, 1.52833029, 1.52833029, 0.27124677, 0.15780506,
       0.15780506, 0.27124677, 0.27124677, 0.95650939, 0.84306768,
       1.30144687, 0.27124677, 0.38468848, 0.38468848, 0.38468848,
       0.15780506, 0.15780506, 0.15780506, 0.72962597, 0.38468848,
       0.38468848, 0.38468848, 0.27124677, 0.38468848, 0.38468848,
       0.38468848, 0.38468848, 2.6719721 , 0.38468848, 0.38468848,
       0.27124677, 0.15780506, 0.15780506, 0.38468848, 0.38468848,
       0.38468848, 0.27124677, 0.15780506, 0.38468848, 0.38468848,
       0.84306768, 0.72962597, 0.27124677, 0.15780506, 0.38468848,
       1.30144687, 0.27124677, 0.72962597, 0.38468848, 0.38468848,
       0.38468848, 0.15780506, 0.38468848, 1.52833029, 0.27124677,
       0.95650939, 0.27124677, 0.38468848, 0.38468848, 0.15780506,
       0.84306768, 0.38468848, 0.15780506, 0.38468848, 0.15780506,
       0.38468848, 0.38468848, 0.15780506, 1.41488858, 0.15780506,
       3.243793  , 0.38468848, 0.38468848, 0.38468848, 0.38468848,
       1.41488858, 0.95650939, 0.38468848, 0.84306768, 0.27124677,
       0.38468848, 0.15780506, 0.95650939, 0.38468848, 0.38468848,
       0.15780506, 0.27124677, 0.15780506, 0.38468848, 0.38468848,
       0.15780506, 0.38468848, 0.15780506, 0.15780506, 1.52833029,
       0.27124677, 0.38468848, 0.84306768, 3.243793  , 0.38468848,
       0.38468848, 0.15780506, 1.52833029, 0.38468848, 0.95650939,
       0.15780506, 0.38468848, 0.15780506, 0.38468848, 0.38468848,
       0.38468848, 0.84306768, 0.38468848, 0.38468848, 0.38468848,
       0.27124677, 0.38468848, 0.95650939, 0.27124677, 1.30144687,
       0.15780506, 0.38468848, 0.15780506, 0.38468848, 0.38468848,
       0.27124677, 0.27124677, 0.38468848, 0.38468848, 0.15780506,
       0.84306768, 0.15780506, 0.27124677, 0.27124677, 0.27124677,
       0.38468848, 0.38468848, 0.38468848, 3.81561391, 0.72962597,
       0.38468848, 0.15780506, 0.38468848, 1.52833029, 0.84306768,
       1.41488858, 0.95650939, 0.38468848, 0.38468848, 0.72962597,
       0.15780506, 0.95650939, 0.38468848, 0.38468848, 0.15780506,
       0.27124677, 0.38468848, 0.38468848, 0.72962597, 0.38468848,
       0.15780506, 0.15780506, 0.95650939, 0.38468848, 0.38468848,
       0.27124677, 0.27124677, 0.15780506, 0.15780506, 0.95650939,
       0.15780506, 0.15780506, 0.15780506, 0.38468848, 0.27124677,
       0.38468848, 0.15780506, 0.27124677, 0.38468848, 0.38468848,
       0.84306768, 0.38468848, 0.27124677, 0.27124677, 0.15780506,
       0.38468848, 0.27124677, 0.38468848, 0.27124677, 0.38468848,
       0.15780506, 0.38468848, 0.27124677, 0.27124677, 0.27124677,
       0.38468848, 2.10015119, 0.15780506, 0.38468848, 0.38468848,
       0.15780506, 0.15780506, 1.30144687, 0.38468848, 0.38468848,
       0.72962597, 0.95650939, 0.27124677, 0.15780506, 0.38468848,
       0.84306768, 0.95650939, 0.38468848, 0.38468848, 1.41488858,
       0.84306768, 0.38468848, 0.27124677, 0.38468848, 0.15780506,
       0.38468848, 0.38468848, 0.38468848, 1.30144687, 0.38468848,
       0.15780506, 0.15780506, 0.38468848, 0.38468848, 0.38468848,
       0.38468848, 0.38468848, 0.27124677, 0.38468848, 1.98670948,
       0.38468848, 0.38468848, 0.38468848, 0.38468848, 0.72962597,
       0.38468848, 0.15780506, 0.15780506, 1.52833029, 0.38468848,
       0.38468848, 0.38468848, 0.95650939, 1.52833029, 0.15780506,
       0.38468848, 0.27124677, 1.52833029, 0.15780506, 0.38468848,
       0.27124677, 0.15780506, 0.38468848, 0.38468848, 0.95650939,
       0.27124677, 0.84306768, 1.30144687, 0.95650939, 0.38468848,
       0.38468848, 0.15780506, 0.38468848, 0.27124677, 0.15780506,
       0.38468848, 0.38468848, 0.27124677, 1.52833029, 0.38468848,
       0.15780506, 0.38468848, 0.84306768, 0.38468848, 1.52833029,
       0.72962597, 0.38468848, 0.15780506, 0.95650939, 0.95650939,
       0.38468848, 0.38468848, 1.41488858, 0.38468848, 0.15780506,
       0.38468848, 0.84306768, 0.38468848, 0.38468848, 0.38468848,
       0.72962597, 0.38468848, 0.38468848, 0.38468848, 0.15780506,
       0.38468848, 0.27124677, 0.15780506, 0.38468848, 0.38468848,
       0.38468848, 1.52833029, 0.38468848, 0.84306768, 0.15780506,
       1.52833029, 0.38468848, 0.95650939, 0.72962597, 0.27124677,
       0.95650939, 0.72962597, 0.15780506, 2.10015119, 0.38468848,
       0.38468848, 0.27124677, 0.15780506, 1.52833029, 0.27124677,
       0.27124677, 0.27124677, 0.15780506, 0.38468848, 0.95650939,
       0.38468848, 0.72962597, 0.15780506, 0.38468848, 0.27124677,
       0.38468848, 0.38468848, 0.38468848, 0.38468848, 0.72962597,
       0.84306768, 0.38468848, 0.38468848, 0.27124677, 0.38468848,
       3.243793  , 0.27124677, 0.15780506, 1.52833029, 0.15780506,
       0.38468848])

In [81]:
filled_SibSp = pd.Series(lin_reg.predict(test_X))

In [83]:
titanic_9_with_null.SibSp.fillna(filled_SibSp, inplace=True)

In [86]:
titanic_9_with_null.isnull().sum()

Pclass    0
SibSp     0
Parch     0
dtype: int64

In [134]:
print(f"SibSp sütunu doldurulmuş ortalama= {titanic_9_with_null.SibSp.mean()}")
print(f"SibSp sütunu doldurulmamış ortalama = {titanic_missing.SibSp.mean()}")

SibSp sütunu doldurulmuş ortalama= 0.5244629101849941
SibSp sütunu doldurulmamış ortalama = 0.5353675450762829

In [133]:
print(f"SibSp sütunu doldurulmuş varyansı= {titanic_9_with_null.SibSp.var()}")
print(f"SibSp sütunu doldurulmamış varyansı = {titanic_missing.SibSp.var()}")

SibSp sütunu doldurulmuş varyansı= 1.0883835287529737
SibSp sütunu doldurulmamış varyansı = 1.3018723994452375

# Soru 10

Datayı baştan okuyun. Embarked değişkenini "NAN" şeklinde yeni bir kategorisi olacak şekilde doldurun.

In [137]:
titanic_missing_10=titanic_missing.copy()
display(titanic_missing_10.Embarked)

0        S
1        C
2      NaN
3        S
4      NaN
      ...
886      S
887      S
888      S
889    NaN
890      Q
Name: Embarked, Length: 891, dtype: object

In [109]:
display(titanic_missing_10.head(10))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0.0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,NaN,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,NaN,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0,237736,30.0708,NaN,C

In [138]:
titanic_missing_10.Embarked.fillna('NAN',inplace=True)

In [139]:
display(titanic_missing_10.head(10))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,NAN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,NAN
5,6,0,3,"Moran, Mr. James",male,NaN,0.0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,NaN,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,NaN,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0,237736,30.0708,NaN,C

# Soru 11

"Fare" değişkeni için "Fare_Missing" adında yeni bir değişken türetip "Fare" değişkenini median ile doldurun.

In [125]:
titanic_missing_11=titanic_missing.copy()

In [126]:
nan_indeks_11=titanic_missing.Fare[titanic_missing.Fare.isnull()].index.to_list() #nan ifadelerin indeksleri bulunuyor
nan_indeks_11

[11,
 12,
 17,
 35,
 40,
 45,
 67,
 69,
 70,
 97,
 105,
 113,
 129,
 162,
 166,
 175,
 181,
 182,
 193,
 206,
 210,
 215,
 229,
 255,
 264,
 267,
 283,
 296,
 301,
 308,
 324,
 332,
 354,
 390,
 396,
 404,
 413,
 417,
 427,
 430,
 436,
 437,
 438,
 440,
 443,
 456,
 463,
 490,
 494,
 504,
 533,
 562,
 589,
 596,
 599,
 608,
 614,
 617,
 618,
 627,
 654,
 659,
 676,
 679,
 681,
 684,
 690,
 695,
 721,
 722,
 729,
 748,
 752,
 757,
 763,
 773,
 781,
 783,
 790,
 794,
 798,
 806,
 808,
 822,
 823,
 825,
 841,
 863,
 872,
 885,
 888]

In [127]:
titanic_missing_11.insert(10,"Fare_Missing",0)

In [128]:
titanic_missing_11.loc[nan_indeks_11, "Fare_Missing"] = 1

In [140]:
display(titanic_missing_11.head(15))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Fare_Missing,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.25000,0,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.28330,0,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.92500,0,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.10000,0,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.05000,0,NaN,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0.0,0,330877,8.45830,0,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0,17463,51.86250,0,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,NaN,1,349909,21.07500,0,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,NaN,2,347742,11.13330,0,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0,237736,30.07080,0,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1,PP 9549,16.70000,0,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0,113783,14.45625,1,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0.0,0,A/5. 2151,14.45625,1,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1.0,5,347082,31.27500,0,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,NaN,0,350406,7.85420,0,NaN,NaN

In [130]:
titanic_missing_11.Fare.median()

14.45625

In [131]:
titanic_missing_11.Fare.fillna(titanic_missing_11.Fare.median(),inplace=True)

In [141]:
display(titanic_missing_11.head(15))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Fare_Missing,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.25000,0,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.28330,0,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.92500,0,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.10000,0,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.05000,0,NaN,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0.0,0,330877,8.45830,0,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0,17463,51.86250,0,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,NaN,1,349909,21.07500,0,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,NaN,2,347742,11.13330,0,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0,237736,30.07080,0,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1,PP 9549,16.70000,0,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0,113783,14.45625,1,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0.0,0,A/5. 2151,14.45625,1,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1.0,5,347082,31.27500,0,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,NaN,0,350406,7.85420,0,NaN,NaN